.categoriesButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: 12px;
	border-radius: 8px;

	p {
		font-size: var(--fontSizeStandart_mid);
	}

	.categoriesButtonIcon {
		opacity: 0;
		transition: transform 0.1s ease;
		transform: translateX(-8px);
		width: var(--iconSizeStandart);
		height: var(--iconSizeStandart);
	}

	&:hover {
		background-color: var(--mainGreenColor);
		color: var(--mainTextColor);

		.categoriesButtonIcon {
			transition: transform 0.2s ease;
			opacity: 1;
			transform: translateX(0);
		}
	}

	&:active {
		opacity: 0.7;
	}
}
