.drinkCard {
	height: 360px;
	display: flex;
	width: 100%;
	border-radius: 8px;
	background-color: #0000;
	padding: 14px;
	gap: 14px;
	box-shadow: 0 6px 24px #0000000d, 0 0 0 1px #00000014;
	transition: all 0.1s;
	flex-direction: column;
	&:hover {
		cursor: pointer;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
			var(--mainGreenColor03) 0px 3px 6px;
	}
}

.drinkCardActive {
	transition: none;
	box-shadow: none;
	box-shadow: var(--mainGreenColor03) 0px 2px 5px -1px,
		var(--mainGreenColor03) 0px 1px 3px -1px;
	&:hover {
		box-shadow: var(--mainGreenColor03) 0px 2px 5px -1px,
			var(--mainGreenColor03) 0px 1px 3px -1px;
	}
}

.cardImageSection {
	position: relative;
	height: 60%;
	border-radius: 8px;
	background-color: var(--backgroundDarkColor);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	display: flex;
}

.cardDescriptionSection {
	display: flex;
	flex-direction: column;
	justify-content: start;
	position: relative;
	height: 40%;
	gap: 8px;
	color: var(--secondTextColor);
	font-size: var(--fontSizeStandart_sm);

	p:nth-of-type(2) {
		font-size: var(--fontSizeStandart);
	}

	p:nth-of-type(3) {
		font-size: var(--fontSizeStandart_mid);
	}
}

.image {
	height: 100%;
	aspect-ratio: 3 / 4;
	object-fit: contain;
	padding: 8px;
}

.cardImageSectionHeart {
	position: absolute;
	stroke-width: 24;
	z-index: 2;
	right: 0px;
	top: 0px;
	margin: 14px;
	height: var(--iconSizeStandart_mid);
	width: var(--iconSizeStandart_mid);
	cursor: pointer;
	transition: all 0.1s ease;
	&:hover {
		border-radius: 8px;
		box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
			rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	}

	&:active {
		transition: none;
		opacity: 0.7;
	}
}

.dinamicInfo {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
}

.cardCartIcon {
	height: var(--iconSizeStandart_mid);
	width: var(--iconSizeStandart_mid);
	transition: all 0.1s ease;
	border-radius: 8px;
	padding: 4px;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
		rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

	&:hover {
		background-color: var(--mainGreenColor);
		color: var(--mainTextColor);
	}

	&:active {
		opacity: 0.7;
	}
}

.cardCartIconSelected {
	height: var(--iconSizeStandart_mid);
	width: var(--iconSizeStandart_mid);
	transition: all 0.1s ease;
	border-radius: 8px;
	padding: 4px;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
		rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	background-color: var(--mainGreenColor);
	color: var(--mainTextColor);
	&:hover {
		opacity: 0.9;
	}

	&:active {
		opacity: 0.7;
	}
}

.quantity {
	width: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	svg {
		width: var(--iconSizeStandart_sm_extra);
		height: var(--iconSizeStandart_sm_extra);
		transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);

		&:hover {
			transform: scale(1.2);
		}

		&:active {
			opacity: 0.7;
		}
	}
}

.price {
	font-size: var(--fontSizeStandart_mid);
}
