.wrapper {
	color: var(--secondTextColor);
	display: flex;
	flex-direction: row;
	height: 60vh;
	border: 2px solid black;
}
.imageWrapper {
	position: relative;
	aspect-ratio: 3 / 4;
	height: 100%;
}

.baseInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.likeGroup {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	transform: all 0.1s ease;
	padding: 0px 14px 0px 0px;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
		rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	&:hover {
		box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
			var(--mainGreenColor03) 0px 3px 6px;
	}
}
.likeIcon {
	stroke-width: 24;
	z-index: 2;
	right: 0px;
	top: 0px;
	margin: 14px;
	height: var(--iconSizeStandart_mid);
	width: var(--iconSizeStandart_mid);
	cursor: pointer;
	transition: all 0.1s ease;

	&:active {
		transition: none;
		opacity: 0.7;
	}
}
