.wrapper {
	transition: all 0.2s ease;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;

	background-image: url('../../assets/images/whiskeyBg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;

	@media (max-width: 1024px) {
		padding-left: 0px;
		justify-content: center;
	}

	@media (min-width: 1025px) and (max-width: 1280px) {
		padding-left: 120px;
	}

	@media (min-width: 1281px) and (max-width: 1440px) {
		padding-left: 160px;
	}

	@media (min-width: 1441px) {
		padding-left: 218px;
	}
}

.loginForm {
	transition: all 0.2s ease;
	display: flex;
	flex-direction: column;
	gap: 24px;

	@media (max-width: 480px) {
		width: 90%;
	}

	@media (min-width: 481px) and (max-width: 768px) {
		width: 80%;
	}

	@media (min-width: 769px) and (max-width: 1024px) {
		width: 70%;
	}

	@media (min-width: 1025px) and (max-width: 1280px) {
		width: 50%;
	}

	@media (min-width: 1281px) and (max-width: 1440px) {
		width: 45%;
	}

	@media (min-width: 1441px) {
		width: 40%;
	}
}

.logoName {
	transition: all 0.2s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;

	h1 {
		margin-top: 8px;
		color: #c90606;
		font-size: 52px;

		@media (max-width: 480px) {
			font-size: 24px;
		}

		@media (min-width: 481px) and (max-width: 768px) {
			font-size: 28px;
		}

		@media (min-width: 769px) and (max-width: 1024px) {
			font-size: 32px;
		}

		@media (min-width: 1025px) and (max-width: 1280px) {
			font-size: 36px;
		}

		@media (min-width: 1281px) and (max-width: 1440px) {
			font-size: 40px;
		}

		@media (min-width: 1441px) {
			font-size: 42px;
		}
	}
}

.form {
	transition: all 0.2s ease;
	padding: 40px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(113, 0, 0, 0.62);
	gap: 36px;

	@media (max-width: 480px) {
		padding: 20px;
	}

	@media (min-width: 481px) and (max-width: 768px) {
		padding: 25px;
	}

	@media (min-width: 769px) and (max-width: 1024px) {
		padding: 30px;
	}

	@media (min-width: 1025px) and (max-width: 1280px) {
		padding: 35px;
	}

	@media (min-width: 1281px) and (max-width: 1440px) {
		padding: 40px;
	}

	@media (min-width: 1441px) {
		padding: 32px;
	}
}

.formTitle {
	transition: all 0.2s ease;
	color: #f5f5f5;
	font-size: 38px;
	align-self: flex-start;

	@media (max-width: 480px) {
		font-size: 20px;
	}

	@media (min-width: 481px) and (max-width: 768px) {
		font-size: 24px;
	}

	@media (min-width: 769px) and (max-width: 1024px) {
		font-size: 28px;
	}

	@media (min-width: 1025px) and (max-width: 1280px) {
		font-size: 32px;
	}

	@media (min-width: 1281px) and (max-width: 1440px) {
		font-size: 36px;
	}

	@media (min-width: 1441px) {
		font-size: 30px;
	}
}

.inputWrapp {
	transition: all 0.2s ease;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 58px;

	@media (max-width: 480px) {
		height: 40px;
	}

	@media (min-width: 481px) and (max-width: 768px) {
		height: 45px;
	}

	@media (min-width: 769px) and (max-width: 1024px) {
		height: 50px;
	}

	@media (min-width: 1025px) and (max-width: 1280px) {
		height: 55px;
	}

	@media (min-width: 1281px) and (max-width: 1440px) {
		height: 58px;
	}

	@media (min-width: 1441px) {
		height: 46px;
	}
}

.input {
	transition: all 0.2s ease;
	outline: unset;
	border: unset;
	font-size: 26px;
	background-color: #d9d9d9;
	height: 100%;
	border-radius: 0px 8px 8px 0px;
	padding: 0px 8px 0px 8px;
	width: 100%;

	@media (max-width: 480px) {
		font-size: 14px;
	}

	@media (min-width: 481px) and (max-width: 768px) {
		font-size: 16px;
	}

	@media (min-width: 769px) and (max-width: 1024px) {
		font-size: 18px;
	}

	@media (min-width: 1025px) and (max-width: 1280px) {
		font-size: 20px;
	}

	@media (min-width: 1281px) and (max-width: 1440px) {
		font-size: 22px;
	}

	@media (min-width: 1441px) {
		font-size: 20px;
	}

	&::placeholder {
		transition: all 0.2s ease;
		padding: 0px 8px 0px 8px;
		font-size: 26px;

		@media (max-width: 480px) {
			font-size: 14px;
		}

		@media (min-width: 481px) and (max-width: 768px) {
			font-size: 16px;
		}

		@media (min-width: 769px) and (max-width: 1024px) {
			font-size: 18px;
		}

		@media (min-width: 1025px) and (max-width: 1280px) {
			font-size: 20px;
		}

		@media (min-width: 1281px) and (max-width: 1440px) {
			font-size: 22px;
		}

		@media (min-width: 1441px) {
			font-size: 20px;
		}
	}
}

.inputIcon {
	transition: all 0.2s ease;
	background-color: #c36f09;
	min-width: 68px;
	padding: 10px 16px 10px 16px;
	height: 100%;
	border-radius: 8px 0px 0px 8px;

	@media (max-width: 480px) {
		min-width: 40px;
		padding: 5px 8px 5px 8px;
	}

	@media (min-width: 481px) and (max-width: 768px) {
		min-width: 50px;
		padding: 6px 10px 6px 10px;
	}

	@media (min-width: 769px) and (max-width: 1024px) {
		min-width: 60px;
		padding: 7px 12px 7px 12px;
	}

	@media (min-width: 1025px) and (max-width: 1280px) {
		min-width: 65px;
		padding: 8px 14px 8px 14px;
	}

	@media (min-width: 1281px) and (max-width: 1440px) {
		min-width: 68px;
		padding: 10px 16px 10px 16px;
	}

	@media (min-width: 1441px) {
		min-width: 54px;
		padding: 8px 12px 8px 12px;
	}
}

.inputBotContainer {
	transition: all 0.2s ease;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	button {
		transition: all 0.2s ease;
		border: none;
		cursor: pointer;
		height: 48px;
		width: 133px;
		font-size: 22px;
		border-radius: 8px;
		background-color: #c36f09;
		color: currentColor;

		@media (max-width: 480px) {
			height: 30px;
			width: 80px;
			font-size: 14px;
		}

		@media (min-width: 481px) and (max-width: 768px) {
			height: 35px;
			width: 90px;
			font-size: 16px;
		}

		@media (min-width: 769px) and (max-width: 1024px) {
			height: 40px;
			width: 100px;
			font-size: 18px;
		}

		@media (min-width: 1025px) and (max-width: 1280px) {
			height: 45px;
			width: 110px;
			font-size: 20px;
		}

		@media (min-width: 1281px) and (max-width: 1440px) {
			height: 48px;
			width: 133px;
			font-size: 22px;
		}

		@media (min-width: 1441px) {
			height: 38px;
			width: 106px;
			font-size: 18px;
		}
	}
}

.checkboxContainer {
	transition: all 0.2s ease;
	display: flex;
	justify-content: center;
	gap: 12px;

	input {
		transition: all 0.2s ease;
		position: relative;
		height: 22px;
		width: 22px;
		cursor: pointer;
		display: flex;
		justify-content: center;

		@media (max-width: 480px) {
			height: 15px;
			width: 15px;
		}

		@media (min-width: 481px) and (max-width: 768px) {
			height: 18px;
			width: 18px;
		}

		@media (min-width: 769px) and (max-width: 1024px) {
			height: 20px;
			width: 20px;
		}

		@media (min-width: 1025px) and (max-width: 1280px) {
			height: 22px;
			width: 22px;
		}

		@media (min-width: 1441px) {
			height: 18px;
			width: 18px;
		}
	}

	input[type='checkbox'] {
		transition: all 0.2s ease;
		appearance: none;
		border: 2px solid #ccc;
		border-radius: 4px;
		background-color: white;
		cursor: pointer;
	}

	input[type='checkbox']:checked::after {
		transition: all 0.2s ease;
		content: '✔';
		position: relative;
		color: white;
		font-size: 12px;

		@media (max-width: 480px) {
			font-size: 8px;
		}

		@media (min-width: 481px) and (max-width: 768px) {
			font-size: 9px;
		}

		@media (min-width: 769px) and (max-width: 1024px) {
			font-size: 10px;
		}

		@media (min-width: 1025px) and (max-width: 1280px) {
			font-size: 11px;
		}

		@media (min-width: 1281px) and (max-width: 1440px) {
			font-size: 12px;
		}

		@media (min-width: 1441px) {
			font-size: 10px;
		}
	}

	input:checked {
		transition: all 0.2s ease;
		background-color: #c36f09;
		border-color: #c36f09;
	}

	.checkboxTextContent {
		transition: all 0.2s ease;
		font-size: 20px;

		@media (max-width: 480px) {
			font-size: 12px;
		}

		@media (min-width: 481px) and (max-width: 768px) {
			font-size: 14px;
		}

		@media (min-width: 769px) and (max-width: 1024px) {
			font-size: 16px;
		}

		@media (min-width: 1025px) and (max-width: 1280px) {
			font-size: 18px;
		}

		@media (min-width: 1281px) and (max-width: 1440px) {
			font-size: 20px;
		}

		@media (min-width: 1441px) {
			font-size: 16px;
		}

		cursor: pointer;
	}
}

.bottomLinks {
	transition: all 0.2s ease;
	font-size: 20px;

	@media (max-width: 480px) {
		font-size: 12px;
	}

	@media (min-width: 481px) and (max-width: 768px) {
		font-size: 14px;
	}

	@media (min-width: 769px) and (max-width: 1024px) {
		font-size: 16px;
	}

	@media (min-width: 1025px) and (max-width: 1280px) {
		font-size: 18px;
	}

	@media (min-width: 1281px) and (max-width: 1440px) {
		font-size: 20px;
	}

	@media (min-width: 1441px) {
		font-size: 16px;
	}

	a {
		transition: all 0.2s ease;
		text-decoration: none;
		color: #f5cc00;

		&:hover {
			text-decoration: underline;
		}
	}
}

.logo {
	transition: all 0.2s ease;
	height: 68px;
	width: 54px;

	@media (max-width: 480px) {
		height: 40px;
		width: 30px;
	}

	@media (min-width: 481px) and (max-width: 768px) {
		height: 50px;
		width: 40px;
	}

	@media (min-width: 769px) and (max-width: 1024px) {
		height: 60px;
		width: 50px;
	}

	@media (min-width: 1025px) and (max-width: 1280px) {
		height: 68px;
		width: 54px;
	}

	@media (min-width: 1441px) {
		height: 54px;
		width: 42px;
	}
}
