.footer {
	background-color: var(--backgroundDarkColor);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 44px 14px 0px 0px;
	padding: 2px 14px 2px 14px;
	border-radius: 8px 8px 0px 0px;
	color: var(--secondTextColor);
}

.navTab {
	display: flex;
	flex-direction: row;
	align-items: center;

	gap: 16px;
	a {
		font-size: var(--fontSizeStandart);
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		white-space: nowrap;
		&:hover {
			text-decoration: underline;
		}
	}
}

.icon {
	color: currentColor;
	width: var(--iconSizeStandart);
	height: var(--iconSizeStandart);
}

.phoneSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: var(--fontSizeStandart_sm);
	font-weight: 500;
	gap: 10px;
	cursor: pointer;
}

.socialsSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.languagesSection {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.rigthSide {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}
