.inputBox {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;

	width: clamp(30%, 30%, 100%);
	height: clamp(30px, 40px, 40px);
	input {
		background-color: transparent;
		width: 100%;
		height: 100%;
		padding: 0px 64px 0px 8px;
		color: #c7c7c7;
		outline: none;
		border: 2px solid #c8b248;
		border-radius: 8px;
		font-size: 18px;
		&:focus {
			border: 2px solid #ffe45c;
		}
	}
	@media (max-width: 480px) {
		display: none;
	}
}

.searchIcon {
	position: absolute;
	display: flex;
	padding: 6px;
	margin-right: 6px;
	cursor: pointer;

	fill: #c7c7c7;
	opacity: 40%;

	height: 100%;

	@media (min-width: 1025px) {
		transition: all 0.2s ease;
		&:hover {
			opacity: 100%;
		}
		&:active {
			fill: white;
			transition: none;
		}
	}

	@media (max-width: 1024px) {
		&:active {
			opacity: 100%;
		}
	}
}
