* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none;
}

:root {
	--mainTextColor: #eeeeee;
	--secondTextColor: #565758;
	--thirdTextColor: #4e4e4e;
	--mainGreenColor: #41b757;
	--mainGreenColor07: rgba(65, 183, 87, 0.7);
	--mainBodyColor: #eeeeee;
	--secondWhiteColor: #e3e3e3;
	--backgroundDarkColor: #cbcbcb;
	--borderColorMain: #d9d9d9;
	--fontSizeStandart: 14px;
	--fontSizeStandart_sm: 16px;
	--fontSizeStandart_mid: 18px;
	--iconSizeStandart: 24px;
	--iconSizeStandart_sm: 28px;
	--iconSizeStandart_mid: 34px;
	--logoColor: black;
}

body {
	background-color: var(--mainBodyColor);
	color: var(--mainTextColor);
	height: 100vh;
}

button,
a,
input,
textarea {
	cursor: pointer;
	background-color: transparent;
	outline: none;
	border: none;
}

button:active,
button:visited {
	background-color: transparent !important;
	box-shadow: none !important;
	outline: none !important;
	text-decoration: none;
	color: var(--mainTextColor);
	background-color: var(--mainTextColor);
	text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
	color: currentColor;
	text-decoration: none;
}

button:focus,
a:focus {
	outline: none;
}
