.wrapper {
	height: 100vh;
	width: 100%;
}
.header {
	width: 100%;
	background-color: #770404;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	padding: 6px;
	a {
		all: unset;
	}

	// Мобильные устройства (телефоны, до 480px)
	@media (max-width: 480px) {
		justify-content: center;
	}

	// Маленькие планшеты (от 481px до 768px)
	@media (min-width: 481px) and (max-width: 768px) {
		justify-content: center;
	}

	// Большие планшеты (от 769px до 1024px)

	@media (min-width: 769px) and (max-width: 1024px) {
		justify-content: center;
	}

	// Маленькие ноутбуки (от 1025px до 1280px)
	@media (min-width: 1025px) and (max-width: 1280px) {
		justify-content: flex-end;
		padding: 6px 28px 6px 6px;
		gap: 48px;
	}

	// Ноутбуки и десктопы (от 1281px до 1440px)
	@media (min-width: 1281px) and (max-width: 1440px) {
		justify-content: flex-end;
		padding: 6px 28px 6px 6px;
		gap: 48px;
	}

	// Большие экраны (от 1441px и выше)
	@media (min-width: 1441px) {
		justify-content: flex-end;
		padding: 6px 28px 6px 6px;
		gap: 48px;
	}
}
.headerPhoneIcon {
	// Мобильные устройства (телефоны, до 480px)
	@media (max-width: 480px) {
		width: 20px;
		height: 18px;
	}

	// Маленькие планшеты (от 481px до 768px)
	@media (min-width: 481px) and (max-width: 768px) {
		width: 20px;
		height: 18px;
	}

	// Большие планшеты (от 769px до 1024px)
	@media (min-width: 769px) and (max-width: 1024px) {
		width: 22px;
		height: 20px;
	}

	// Маленькие ноутбуки (от 1025px до 1280px)
	@media (min-width: 1025px) and (max-width: 1280px) {
		width: 24px;
		height: 22px;
	}

	// Ноутбуки и десктопы (от 1281px до 1440px)
	@media (min-width: 1281px) and (max-width: 1440px) {
		width: 26px;
		height: 24px;
	}

	// Большие экраны (от 1441px и выше)
	@media (min-width: 1441px) {
		width: 28px;
		height: 26px;
	}
}

.languageSelect {
	display: flex;
	flex-direction: row;
	gap: 2px;
	// Мобильные устройства (телефоны, до 480px)
	@media (max-width: 480px) {
	}

	// Маленькие планшеты (от 481px до 768px)
	@media (min-width: 481px) and (max-width: 768px) {
	}

	// Большие планшеты (от 769px до 1024px)
	@media (min-width: 769px) and (max-width: 1024px) {
	}

	// Маленькие ноутбуки (от 1025px до 1280px)
	@media (min-width: 1025px) and (max-width: 1280px) {
		gap: 8px;
	}

	// Ноутбуки и десктопы (от 1281px до 1440px)
	@media (min-width: 1281px) and (max-width: 1440px) {
		gap: 8px;
	}

	// Большие экраны (от 1441px и выше)
	@media (min-width: 1441px) {
		gap: 8px;
	}

	button {
		transition: all 0.2s ease;
		padding: 4px;
		background-color: transparent;
		border: none;
		color: currentColor;
		cursor: pointer;
		border-radius: 4px;
		font-size: 18px;
		// Мобильные устройства (телефоны, до 480px)
		@media (max-width: 480px) {
			&:active {
				background-color: #f5f5f5a8;
			}
		}

		// Маленькие планшеты (от 481px до 768px)
		@media (min-width: 481px) and (max-width: 768px) {
			&:active {
				background-color: #f5f5f5a8;
			}
		}

		// Большие планшеты (от 769px до 1024px)
		@media (min-width: 769px) and (max-width: 1024px) {
			&:active {
				background-color: #f5f5f5a8;
			}
		}

		// Маленькие ноутбуки (от 1025px до 1280px)
		@media (min-width: 1025px) and (max-width: 1280px) {
			&:hover {
				background-color: #f5f5f5a8;
			}
		}

		// Ноутбуки и десктопы (от 1281px до 1440px)
		@media (min-width: 1281px) and (max-width: 1440px) {
			&:hover {
				background-color: #f5f5f5a8;
			}
		}

		// Большие экраны (от 1441px и выше)
		@media (min-width: 1441px) {
			&:hover {
				background-color: #f5f5f5a8;
			}
		}
	}
}
.phoneNumberBlock {
	display: flex;
	gap: 6px;
	transition: all 0.2s ease;
	a {
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}
	// Мобильные устройства (телефоны, до 480px)
	@media (max-width: 480px) {
	}

	// Маленькие планшеты (от 481px до 768px)
	@media (min-width: 481px) and (max-width: 768px) {
	}

	// Большие планшеты (от 769px до 1024px)
	@media (min-width: 769px) and (max-width: 1024px) {
	}

	// Маленькие ноутбуки (от 1025px до 1280px)
	@media (min-width: 1025px) and (max-width: 1280px) {
	}

	// Ноутбуки и десктопы (от 1281px до 1440px)
	@media (min-width: 1281px) and (max-width: 1440px) {
	}

	// Большие экраны (от 1441px и выше)
	@media (min-width: 1441px) {
	}
}
.rightSideIcon {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	fill: #ebebeb;
	opacity: 60%;

	// Мобильные устройства (телефоны, до 480px)
	@media (max-width: 480px) {
		min-height: 30px;
		min-width: 30px;
		max-height: 30px;
		max-width: 30px;
		&:active {
			opacity: 100%;
		}
	}

	// Маленькие планшеты (от 481px до 768px)
	@media (min-width: 481px) and (max-width: 768px) {
		min-height: 32px;
		min-width: 32px;
		max-height: 32px;
		max-width: 32px;
		&:active {
			opacity: 100%;
		}
	}

	// Большие планшеты (от 769px до 1024px)
	@media (min-width: 769px) and (max-width: 1024px) {
		min-height: 34px;
		min-width: 34px;
		max-height: 34px;
		max-width: 34px;
		&:active {
			opacity: 100%;
		}
	}

	// Маленькие ноутбуки (от 1025px до 1280px)
	@media (min-width: 1025px) and (max-width: 1280px) {
		min-height: 36px;
		min-width: 36px;
		max-height: 36px;
		max-width: 36px;
		&:hover {
			opacity: 100%;
		}
		&:active {
			fill: #c7c7c7;
		}
	}

	// Ноутбуки и десктопы (от 1281px до 1440px)
	@media (min-width: 1281px) and (max-width: 1440px) {
		min-height: 38px;
		min-width: 38px;
		max-height: 38px;
		max-width: 38px;
		&:hover {
			opacity: 100%;
		}
		&:active {
			fill: #c7c7c7;
		}
	}

	// Большие экраны (от 1441px и выше)
	@media (min-width: 1441px) {
		min-height: 40px;
		min-width: 40px;
		max-height: 40px;
		max-width: 40px;
		&:hover {
			opacity: 100%;
		}
		&:active {
			fill: #c7c7c7;
		}
	}
}

.burger {
	display: flex;
	flex-direction: column;
	gap: 6px;
	cursor: pointer;
	opacity: 60%;
	// Мобильные устройства (телефоны, до 480px)
	@media (max-width: 480px) {
		min-width: 22px;
		max-width: 22px;
		&:active {
			opacity: 100%;
		}
	}

	// Маленькие планшеты (от 481px до 768px)
	@media (min-width: 481px) and (max-width: 768px) {
		min-width: 22px;
		max-width: 22px;
		&:active {
			opacity: 100%;
		}
	}

	// Большие планшеты (от 769px до 1024px)
	@media (min-width: 769px) and (max-width: 1024px) {
		min-width: 22px;
		max-width: 22px;
		&:active {
			opacity: 100%;
		}
	}

	// Маленькие ноутбуки (от 1025px до 1280px)
	@media (min-width: 1025px) and (max-width: 1280px) {
		min-width: 22px;
		max-width: 22px;
		&:hover {
			opacity: 100%;
		}
		&:active {
			fill: #c7c7c7;
		}
	}

	// Ноутбуки и десктопы (от 1281px до 1440px)
	@media (min-width: 1281px) and (max-width: 1440px) {
		min-width: 22px;
		max-width: 22px;
		&:hover {
			opacity: 100%;
		}
		&:active {
			fill: #c7c7c7;
		}
	}

	// Большие экраны (от 1441px и выше)
	@media (min-width: 1441px) {
		min-width: 22px;
		max-width: 22px;
		&:hover {
			opacity: 100%;
		}
		&:active {
			fill: #c7c7c7;
		}
	}
}
.line {
	border-bottom: 2px solid #f5f5f5;
}

.userPopup {
	transition: all 0.2s ease;
	position: fixed;
	height: 100%;
	width: 200px;
	background-color: #a63c06;
	z-index: 2;
	overflow: hidden;
	right: 0;
	top: 0; // Мобильные устройства (телефоны, до 480px)
	@media (max-width: 480px) {
	}

	// Маленькие планшеты (от 481px до 768px)
	@media (min-width: 481px) and (max-width: 768px) {
	}

	// Большие планшеты (от 769px до 1024px)
	@media (min-width: 769px) and (max-width: 1024px) {
	}

	// Маленькие ноутбуки (от 1025px до 1280px)
	@media (min-width: 1025px) and (max-width: 1280px) {
	}

	// Ноутбуки и десктопы (от 1281px до 1440px)
	@media (min-width: 1281px) and (max-width: 1440px) {
	}

	// Большие экраны (от 1441px и выше)
	@media (min-width: 1441px) {
	}
}
.visible {
	visibility: visible;
}
.hidden {
	visibility: visible;
	transform: translate(228px);
}
