.header {
	background-color: var(--mainGreenColor);

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0.7rem 1.6rem 0.7rem 1.6rem;
}

.navTab {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: currentColor;
	gap: 16px;
	a {
		font-size: var(--fontSizeStandart);
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		white-space: nowrap;
		&:hover {
			text-decoration: underline;
		}
	}
}

.icon {
	color: var(--mainTextColor);
	width: var(--iconSizeStandart);
	height: var(--iconSizeStandart);
}

.phoneSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: var(--fontSizeStandart_sm);
	font-weight: 500;
	gap: 10px;
	cursor: pointer;
}

.socialsSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.languagesSection {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.rigthSide {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}
