.header {
	background-color: var(--mainGreenColor);
	height: 2.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0px 1.6rem 0px 1.6rem;
}

.navTab {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: currentColor;
	gap: 16px;
	a {
		font-size: var(--fontSizeStandart);
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		white-space: nowrap;
		&:hover {
			text-decoration: underline;
		}
	}
}

.icon {
	color: var(--mainTextColor);
	width: var(--iconSizeStandart);
	height: var(--iconSizeStandart);
}

.phoneSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: var(--fontSizeStandart_sm);
	font-weight: 500;
	gap: 10px;
	cursor: pointer;
}

.socialsSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.languagesSection {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.rigthSide {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.secondPart {
	display: flex;
	flex-direction: row;
	padding: 1.2rem 2rem 1.2rem 2rem;
	justify-content: space-between;
	gap: 30px;
}

.logoSection {
	display: flex;
	flex-direction: row;
	color: black;
	align-items: center;
	gap: 10px;

	p {
		font-size: var(--fontSizeStandart_mid);
	}
}

.searchSection {
	flex: 1 1 auto;
}
.searchInput {
	width: 100%;
	height: 100%;
	border: 1px solid;
	border-color: var(--borderColorMain);
	background-color: var(--secondWhiteColor);
	border-radius: 4px;
	font-size: var(--fontSizeStandart_sm);
	padding: 8px;
	color: var(--secondTextColor);
	cursor: text;
}

.userSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	span {
		color: var(--secondTextColor);
		font-size: var(--fontSizeStandart);
	}
}
.secondIcon {
	color: var(--secondTextColor);
	width: var(--iconSizeStandart_mid);
	height: var(--iconSizeStandart_mid);
}

.logSection {
	display: flex;
	flex-direction: row;
	gap: 20px;
}
.userSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}
.logSectionCounter {
	background-color: var(--mainGreenColor);
	height: var(--iconSizeStandart_sm);
	width: var(--iconSizeStandart_sm);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
