.counter {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
	button {
		height: 100%;
		position: relative;
		background-color: transparent;
		color: rgba(255, 255, 255, 0.6);

		align-items: center;
		cursor: pointer;

		&:active {
			color: rgba(255, 255, 255, 1);
		}
	}
}

.cartBox {
	flex: 0 0 50%;

	border-left: 2px solid #fff;

	border-radius: 0px 6px 6px 0px;

	@media (min-width: 1025px) {
		&:hover {
			background-color: #77040499;
		}
	}
}

.cartIcon {
	display: flex;
	min-height: 100%;
	cursor: pointer;
	fill: rgba(255, 255, 255, 0.6);
	opacity: 100%;
	padding: 4px;

	@media (min-width: 1025px) {
		&:hover {
			fill: rgba(255, 255, 255, 0.8);
		}
	}
	&:active {
		fill: white;
	}
}

.quantityBtn {
	height: 100%;
	width: 100%;
	fill: currentColor;
	padding: 14px;
	aspect-ratio: 1/1;
	@media (min-width: 1025px) {
		&:hover {
			transform: scale(1.1);
			transition: all 0.1s ease;
		}
	}
}

.quantityBtnBin {
	height: 100%;
	width: 100%;
	fill: currentColor;
	padding: 16px;
	aspect-ratio: 1/1;
	@media (min-width: 1025px) {
		&:hover {
			transform: scale(1.1);
			transition: all 0.1s ease;
		}
	}
}

.quantityBox {
	height: 100%;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.quantityValue {
	font-size: clamp(1rem, 1.8rem, 1.8rem);
}
