.wrapper {
	flex: 1;
	display: flex;
	gap: 24px;
	margin: 14px 24px 0px 0px;
}
.mainNavSection {
	transition: all 0.2s ease;
	width: 20vw;
	height: 84vh;
	position: sticky;
	top: 0px;

	background-color: var(--backgroundDarkColor);
	border-radius: 0px 8px 8px 0px;
	display: flex;
	flex-direction: column;
}

.navTopGroup {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.logoSection {
	margin-top: 14px;
	display: flex;
	flex-direction: row;
	color: var(--logoColor);
	align-items: center;
	gap: 10px;
	justify-content: center;

	p {
		font-size: var(--fontSizeStandart_mid);
	}
}

.logo {
	width: 140px;
	height: 40px;
}

.secondNavSection {
	flex: 1;
}

.menuButtonsGroup {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 24px;
}

.navBotSection {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 24px;
	font-size: var(--fontSizeStandart_sm);
	color: var(--secondTextColor);
	justify-content: center;
}
.menuButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	padding: 6px;
	cursor: pointer;
	transition: all 0.1s ease;
	border-radius: 8px;
	span {
		color: var(--secondTextColor);
	}

	&:hover {
		box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
			rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	}
	&:active {
		opacity: 0.7;
	}
}

.menuIcon {
	width: var(--iconSizeStandart);
	height: var(--iconSizeStandart);
	color: var(--mainGreenColor);
}

.navBar {
	display: flex;
	justify-content: space-between;
	background-color: var(--backgroundDarkColor);
	padding: 14px;

	border-radius: 8px;
	gap: 14px;
}
.searchSection {
	flex: 1;
}

.searchInput {
	width: 100%;
	height: 100%;
	border: 1px solid;
	border-color: var(--borderColorMain);
	background-color: var(--secondWhiteColor);
	border-radius: 4px;
	font-size: var(--fontSizeStandart_sm);
	padding: 8px;
	color: var(--secondTextColor);
	cursor: text;
}

.userSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	border-radius: 8px;

	cursor: pointer;
	padding: 4px;
	span {
		color: var(--secondTextColor);
		font-size: var(--fontSizeStandart);
	}
	&:hover {
		box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
			rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	}
	&:active {
		opacity: 0.7;
	}
}
.secondIcon {
	color: var(--secondTextColor);
	width: var(--iconSizeStandart_mid);
	height: var(--iconSizeStandart_mid);
}
.hearthIcon {
	fill: var(--secondTextColor);
	width: var(--iconSizeStandart_mid);
	height: var(--iconSizeStandart_mid);
}

.logSection {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.logSectionCounter {
	background-color: var(--mainGreenColor);
	height: var(--iconSizeStandart_sm);
	width: var(--iconSizeStandart_sm);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.breadcrumbs {
	font-size: var(--fontSizeStandart_sm);
	color: var(--secondTextColor);
	display: flex;
	gap: 4px;
	margin-top: 14px;

	a {
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
	p {
		opacity: 0.7;
	}
}

.breadcrumbs > :not(:last-child)::after {
	content: '|';
	margin: 0 4px;
	color: var(--secondTextColor);
}

.siteInfo {
	color: var(--secondTextColor);
	font-size: var(--fontSizeStandart_mid);
	margin-top: 14px;
	font-weight: 500;
}
.childrenContainer {
	margin: 12px;
}
