.wrapper {
	flex: 1;
	display: flex;
	gap: 24px;
}

.fixedPos {
	min-width: 20vw;

	height: 100vh;
}
.mainNavSection {
	width: 20vw;
	height: 100vh;

	position: fixed;

	background-color: var(--backgroundDarkColor);
	display: flex;
	flex-direction: column;
}

.navTopGroup {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.logoSection {
	margin-top: 34px;
	display: flex;
	flex-direction: row;
	color: var(--logoColor) !important;
	align-items: center;
	gap: 10px;
	justify-content: center;

	p {
		font-size: var(--fontSizeStandart_mid);
	}
}

.logo {
	width: 140px;
	height: 40px;
}

.secondNavSection {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 24px;
}

.menuButtonsGroup {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 24px;
}

.navBotSection {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 24px;
	font-size: var(--fontSizeStandart_sm);
	color: var(--secondTextColor);
	justify-content: center;
}
.menuButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	padding: 6px;
	cursor: pointer;

	border-radius: 8px;
	span {
		color: var(--secondTextColor);
	}

	&:hover {
		box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
			rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	}
	&:active {
		opacity: 0.7;
	}
}

.menuIcon {
	width: var(--iconSizeStandart);
	height: var(--iconSizeStandart);
	color: var(--mainGreenColor);
}

.navBar {
	margin: 14px 0px 0px 0px;
	display: flex;
	justify-content: space-between;
	background-color: var(--backgroundDarkColor);
	padding: 14px;

	border-radius: 8px;
	gap: 14px;
}
.searchSection {
	flex: 1;
}

.searchInput {
	width: 100%;
	height: 100%;
	border: 1px solid;
	border-color: var(--borderColorMain);
	background-color: var(--secondWhiteColor);
	border-radius: 4px;
	font-size: var(--fontSizeStandart_sm);
	padding: 8px;
	color: var(--secondTextColor);
	cursor: text;
}

.userSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	border-radius: 8px;

	cursor: pointer;
	padding: 4px;
	span {
		color: var(--secondTextColor);
		font-size: var(--fontSizeStandart);
	}
	&:hover {
		box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
			rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	}
	&:active {
		opacity: 0.7;
	}
}
.secondIcon {
	color: var(--secondTextColor);
	width: var(--iconSizeStandart_mid);
	height: var(--iconSizeStandart_mid);
}
.hearthIcon {
	width: var(--iconSizeStandart_mid);
	height: var(--iconSizeStandart_mid);
	stroke: var(--secondTextColor);
	stroke-width: 40px;
}

.logSection {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.logSectionCounter {
	background-color: var(--mainGreenColor);
	height: var(--iconSizeStandart_sm);
	width: var(--iconSizeStandart_sm);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.breadcrumbs {
	font-size: var(--fontSizeStandart_sm);
	color: var(--secondTextColor);
	display: flex;
	gap: 4px;
	margin-top: 14px;

	a {
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
	p {
		opacity: 0.7;
	}
}

.breadcrumbsSeparatorLine {
	&::after {
		content: '|';
		margin-left: 4px;
		font-weight: 500;
	}
}

.siteInfo {
	color: var(--secondTextColor);
	font-size: var(--fontSizeStandart_mid);
	margin-top: 14px;
	font-weight: 500;
}
.childrenContainer {
	flex: 1;
	margin: 24px 0px 24px 0px;
}

.fixedButton {
	transition: all 0.2s ease;
	position: fixed;
	top: 40px;
	right: 40px;
	z-index: 3;
	background-color: var(--mainGreenColor);

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	border-radius: 8px;
	cursor: pointer;
	padding: 4px;

	&:hover {
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	}
	&:active {
		transition: none;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
			rgb(209, 213, 219) 0px 0px 0px 1px inset;
	}
	span {
		color: var(--secondTextColor);
		font-size: var(--fontSizeStandart);
	}
	.logSectionCounter {
		background-color: var(--backgroundDarkColor);
	}
}

.show {
	visibility: visible;
	opacity: 100;
}

.hide {
	visibility: hidden;
	opacity: 0;
}
