.item {
	background-color: rgba(119, 4, 4, 0.6);
	border-radius: 8px;
	width: 100%;
	padding: 8px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 14px;
}

.imageContainer {
	height: 100%;
	flex: 1;
}
.bottleImage {
	height: 100%;

	object-fit: contain;
}

.itemTextContent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	flex: 2;
}

.itemText {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
	gap: 2px;
}

.cartCounter {
	width: 60%;
	height: 20%;
	object-fit: contain;
}

.cartCounterContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	flex: 2;
}

.totalAndDelete {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}
