.itemCounter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
	border-radius: 6px;
	position: relative;
}

.counter {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 50%;
	height: 100%;

	button {
		outline: none;
		border: none;
		background-color: transparent;
		color: white;
		height: 100%;
		display: flex;
		align-items: center;
		cursor: pointer;
	}
}

.cartBox {
	flex: 0 0 50%;
	height: 100%;
	border-left: 2px solid #fff;
	background-color: #a63c06;
	border-radius: 0px 6px 6px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 4px 4px 2px;
	// Мобильные устройства (телефоны, до 480px)
	@media (max-width: 480px) {
	}

	// Маленькие планшеты (от 481px до 768px)
	@media (min-width: 481px) and (max-width: 768px) {
	}

	// Большие планшеты (от 769px до 1024px)
	@media (min-width: 769px) and (max-width: 1024px) {
		&:hover {
			background-color: #77040499;
		}
	}

	// Маленькие ноутбуки (от 1025px до 1280px)
	@media (min-width: 1025px) and (max-width: 1280px) {
		&:hover {
			background-color: #77040499;
		}
	}

	// Ноутбуки и десктопы (от 1281px до 1440px)
	@media (min-width: 1281px) and (max-width: 1440px) {
		&:hover {
			background-color: #77040499;
		}
	}

	// Большие экраны (от 1441px и выше)
	@media (min-width: 1441px) {
		&:hover {
			background-color: #77040499;
		}
	}
}

.cartIcon {
	display: flex;
	width: 100%;
	height: 100%;
	cursor: pointer;
	fill: #ebebeb;
	opacity: 100%;

	&:active {
		fill: #c7c7c7;
	}
}

.quantityBtn {
	fill: white;
	height: 100%;
	padding: 4px;
}

.quantityBox {
	border-radius: 50%;

	aspect-ratio: 1/1;
	min-height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}
